<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="/fragments/nav-header :: h3"></div>
<div th:replace="/fragments/nav-header :: auth-user"></div>
<div th:replace="/fragments/nav-header :: list-frag"></div>

<div th:replace="/fragments/error-frag :: user-error"></div>

<h1 th:text="${'User info for user id: ' + viewUserId + ' with the username ' + viewUserName}"></h1>

<form th:action="${'/user/' + viewUserId}" th:method="PUT">
    <label for="username"> Username</label>
    <input th:value="${viewUserName}" type="text" name="username"
           th:disabled="${!authUserName.equals(viewUserName)}"/>
    <label for="firstName">First Name</label>
    <input th:value="${viewUserFirstName}" type="text" name="firstName"
           th:disabled="${!authUserName.equals(viewUserName)}"/>
    <input type="submit" value="Edit User Info"/>
</form>

</body>
</html>